Backend/server/model.h5 filter=lfs diff=lfs merge=lfs -text
AI\imageClassification\models\main\model.h5 filter=lfs diff=lfs merge=lfs -text
AI\poseClassificatoin\tensorflow\model.h5 filter=lfs diff=lfs merge=lfs -text